.card {
    margin-bottom: 30px;
}
.card:last-child {
    margin-bottom: 0;
}
img {
    max-width: 100%!important;
}

.card .card-body {
    padding: 20px;
}

.card img {
    float: left;
    margin: 0 20px 0 0;
}

ul.page-numbers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    padding: 30px 0;
}

ul.page-numbers li {
    list-style-type: none;
    margin-right: 10px;
}

ul.page-numbers li > a {
    border: 1px solid #E8E8E8;
    padding: 5px 10px;
    border-radius: 4px;
}
.widget {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 30px;
}
.widget h5 {
    font-weight: bold;
}

.widget_categories ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.widget_categories ul li {
    border-bottom: 1px solid #e8e8e8;
}
.widget_categories ul li a {
    display: block;
    padding: 3px;
}
.widget_categories ul li a:hover{
    text-decoration: none;
}

.widget_categories ul li:hover {
    background-color: #e8e8e8;
}

.header_wrapper {
    position: relative;
}
.header_wrapper .header_content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.header_wrapper .header_content h4 {
    text-transform: uppercase;
    color: #fff;
    font-size: 54px;
    text-align: center;
    text-shadow: 0 0 4px rgba(0,0,0,.6);
}